body {
  margin: 0px;
  font-family: "Avenir Next";
  height: 100vh;
}

#root {
  height: 100%;
  width: 100%;
}

nav {
  display:flex;
  justify-content:center;
  border-bottom:1px solid #ccc;
  align-items:center;
  flex-wrap:wrap;
  background: #eee;
}

nav h1 {
  width:100%;
  text-align:center;
  margin:0.2em;
}

nav a {
  text-decoration:none;
  border:1px solid #ccc;
  padding: 0.25em;
  border-radius:3px;
  color:inherit;
  margin:0.5em;
}

nav a.active {
  background:#ccc;
}

nav a:hover {
  background:#eee;
}

main, .people {
  display:flex;
  flex-wrap:wrap;
  justify-content:space-around;
}

.person {
  margin:1em;
  border:1px solid #ccc;
  border-radius:3px;
  box-shadow:0px 0px 3px #eee;
  padding:0.5em;
  min-width:250px;
  text-align: center;
}

.person .name {
  font-weight:bold;
}

main > a {
  font-size:2em;
}

main h1 {
  width:100%;
  text-align:center;
}

.home main {
  height: 80vh;
  align-items: center;
  justify-content: space-around;
  flex-direction:column;
}

.button {
  color: black;
  text-decoration: none;
  background:#eee;
  padding:0.25em;
  border:1px solid #ccc;
  border-radius:6px;
  box-shadow:0px 0px 3px #eee;
  font-size:1.2em;
  padding:0.2em 0.5em;
  font-family: inherit;
  cursor:pointer;
  margin:0.5em;
  transition:all 0.1s linear;
}

.button:hover {
  box-shadow:0px 0px 0.2em #aaa;
}

.home main a.button {
  font-size:1.5em;
}

.home .social {
  text-align:center;
}

.home .social a {
  color: inherit;
  margin: 1em;
}

.email-character-frequency-wrap, .possible-duplicates-wrap {
  display: block;
  text-align: center;
}

.email-character-frequency-wrap .email-character-frequency,
.possible-duplicates-wrap .possible-duplicates {
  margin:1em;
}

.ReactTable .rt-thead.-header {
  box-shadow:none !important;
  border-bottom: 1px solid #ccc;
  background:#eee;
}

.ReactTable .person {
  min-width: 0;
  border:none;
  box-shadow:none;
}